.accept{
    width: 100%;
    height: calc(100vh - 72px);
}

.found{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 56px;
    &_user{
        margin-top: 55px;
        display: flex;
        flex-direction: column;
        width: 292.08px;
        height: 431.98px;
        &_name{
            padding: 29px 0 12px 0;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 130%;
            color: #000000;
        }
        &_login{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #0064EB;
            cursor:pointer;
            text-decoration: none;
        }
        &_folow{
            margin-top: 25px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #000000;
            display: flex;
            justify-content: space-between;
            span{
                display: flex;
                align-items: center;
                svg{
                    margin-right: 5px;
                }
            }
        }
        img{
            width: 280px;
            height: 280px;
            border-radius: 50%;
        }
    }
    &_repo{
        width: 100%;
        height: 100%;      
        padding: 28px 0 0 96px;
    }
}
.repository{
    height: 100%;
    width: 100%;
    h1{
        height: 42px;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 130%;
    }
    &_container{
        margin-top: 28px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &_item{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
        width: 100%;
        height: 112px;
        padding: 24px 32px;
        margin-bottom: 24px;
        &_name{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #0064EB;
            text-decoration: none;
        }
        &_desc{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
        }
    }
}
.paginator{
    margin: 0 26px 30px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   @media screen and (max-width:900px){
       flex-direction: column-reverse;
   }
}
ul{
    min-width: 260px;
    max-width: 260px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    color: #808080;
}
li a {
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    &:hover{
        color: #0064EB;
    }
  }
  li.previous a,
  li.next a,
  li.break a {
    border-color: transparent;
  }
  li.active a {
 
  }
  li.disabled a {
    color: grey;
  }
  li.disable,
  li.disabled a {
    cursor: default;
  }
.pagination__link--active{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px 6px;
    color:white;
    background: #0064EB;
    border-radius: 3px;
    pointer-events: none;
}
.repo-not-found{
    width: 243px;
height: 165px;
left: 751px;
top: 269px;
}
.person{
    width:76px;
    height:62px;
    top:320px;
    padding: 0;
}