$adaptive-width-header:600px;
$defaultColor: #0064EB;
$adaptive-width: 780px;
.header{
    width: 100%;
    height: 72px;
    background: $defaultColor;
    display: flex;
    align-items: center;
        .icon{
            font-size: 40px;
            color: white;
            margin-left: 41px;
            @media screen and (max-width:$adaptive-width-header) {
                margin-left: 10px;
            }
        }
        &_textbox{
            width: 500px;
            height: 40px;
            margin-left: 22px;
            position: relative;
            display: flex;
            align-items: center;
            border-radius: 6px;
            background-color: white;
            @media screen and (max-width:$adaptive-width-header) {
                width: calc(100% - 140px);
            }
            &_icon{
                margin: 0 13px 0 19px;
            }
            input{
                width: 100%;
                max-width: calc(100% - 60px);
                height: 100%;
                border-radius: 6px;
                border: none;
                outline: none;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                display: flex;
                align-items: center;
            }
        }
}